@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Kurale|Lobster|Marck+Script|Open+Sans|Open+Sans+Condensed:300|Pacifico|Rubik+Mono+One|Underdog&display=swap');

body {
    width: 100%;
    margin: auto;
}
.first_tracker {
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.first_tracker--titles {
    display: flex;
    display: -webkit-flex; 
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    margin: 15px 15px 30px 15px;
    padding: 5px;
}
.first_tracker--title_block--title, .first_tracker--title_block--month, .first_tracker--title_block--quote {
    width: 250px;
    height: 100px;
    border: 1px solid black;
}
.first_tracker--title {
    display: block;
    padding: 10px;
}

.first_tracker--calendar_and_habbits {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
}
.first_tracker--habbits_block--for_strings {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.first_tracker--strings_habbits {
    display: flex;
    display: -webkit-flex; 
    width: 350px;
    height: 49px;
    border-bottom: 1px solid black;
}
.first_tracker--container_for_days {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 50px;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.first_tracker--day {
    margin: 5px;
    border: 1px solid black;
    border-radius: 25px;
    width: 20px;
    height: 20px;
}

.first_tracker--constructor {
    display: flex;
    display: -webkit-flex;
    background: AliceBlue;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin: 5px;
    padding: 5px;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}
.lobster {
    font-family: 'Lobster', cursive;
}
.pacifico {
    font-family: 'Pacifico', cursive;
}
.amatic {
    font-family: 'Amatic SC', cursive;
}
.caveat {
    font-family: 'Caveat', cursive;
}
.rubik {
    font-family: 'Rubik Mono One', sans-serif;
}
.kurale {
    font-family: 'Kurale', serif;
}
.underdog {
    font-family: 'Underdog', cursive;
}
.marck {
    font-family: 'Marck Script', cursive;
}

.crimson {
    color: crimson;
    border: 1px solid transparent;
}
.deeppink {
    color: deeppink;
    border: 1px solid transparent;
}
.darkviolet {
    color: darkviolet;
    border: 1px solid transparent;
}
.blue {
    color: blue;
    border: 1px solid transparent;
}
.seagreen {
    color: seagreen;
    border: 1px solid transparent;
}
.orangered {
    color: orangered;
    border: 1px solid transparent;
}
.red {
    color: red;
    border: 1px solid transparent;
}
.palevioletred {
    color: palevioletred;
    border: 1px solid transparent;
}
.darkturquoise {
    color: darkturquoise;
    border: 1px solid transparent;
}
.saddlebrown {
    color: saddlebrown;
    border: 1px solid transparent;
}

.crimson-border {
    border-color: crimson;
}
.deeppink-border {
    border-color: deeppink;
}
.darkviolet-border {
    border-color: darkviolet;
}
.blue-border {
    border-color: blue;
}
.seagreen-border {
    border-color: seagreen;
}
.orangered-border {
    border-color: orangered;
}
.red-border {
    border-color: red;
}
.palevioletred-border {
    border-color: palevioletred;
}
.darkturquoise-border {
    border-color: darkturquoise;
}
.saddlebrown-border {
    border-color: saddlebrown;
}

.second_tracker-selects {
    display: flex;
    flex-direction: column;
    background: AliceBlue;
    padding-bottom: 25px; 
}
.second_tracker_select {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.third_tracker {
    display: flex;
    display: -webkit-flex;
    margin: 30px 15px 15px 15px;
    padding: 5px;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.third_tracker--week {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.third_tracker--day {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-bottom: 15px;
}
.third_tracker_title_day {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 5px;
    padding-top: 15px;
}
.third_tracker--habbit {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    border-bottom: 1px solid black;
    width: 150px;
    margin: 5px;
    padding: 5px;
}
.chernika {
    color: #274684;
}
.chernika-hab {
    border-bottom: 1px solid #0a3185;
}
.chernika-day {
    background: #b9d5fd;
}
.flower {
    color: #700208;
}
.flower-hab {
    border-bottom: 1px solid #d12369;
}
.flower-day {
    background: #e6bae4;
}
.green_flower {
    color: #5a9d2d;
}
.green_flower-hab {
    border-bottom: 1px solid #aec5aa;
}
.green_flower-day {
    background: #ecf5ed;
}
.sukkulent {
    color: #294552;
}
.sukkulent-hab {
    border-bottom: 1px solid #597884;
}
.sukkulent-day {
    background: #acc4ce;
}
.lilac {
    color: #80379c;
}
.lilac-hab {
    border-bottom: 1px solid #64267c;
}
.lilac-day {
   background: #d69cf4;
}
.cheese {
    color: #f1bc1a;
}
.cheese-hab {
    border-bottom: 1px solid #ba9b00;
}
.cheese-day {
    background: #fff0bd;
}
.fog {
    color: #4a707a;
}
.fog-hab {
    border-bottom: 1px solid #7697a0;
}
.fog-day {
    background: #ddddda;
}
.sea_beach {
    color: #003d60;
}
.sea_beach-hab {
    border-bottom: 1px solid #00aab7;
}
.sea_beach-day {
    background: #f9e3be;
}
.coffee {
    color: #a55f41;
}
.coffee-hab {
    border-bottom: 1px solid #503434;
}
.coffee-day {
    background: #fceac6;
}
.chocolate {
    color: #572219;
}
.chocolate-hab {
    border-bottom: 1px solid #9d4b4c;
}
.chocolate-day {
    background: #c9a2a3;
}

.menu {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.menu--item {
    display: block;
}

.download_button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: AliceBlue;
    width: 140px;
    height: 20px;
    text-decoration: none;
    color: black;
    font-size: 0.88em;
    text-align: center;
    line-height: 20px;
}